/* line 5, ../../../../../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 21, ../../../../../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/susy-2.2.5/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (min-width: 600px) {
  /* line 35, ../sass/body.scss */
  .question, .answer {
    margin-left: 6.75676%;
  }
}
@media (min-width: 800px) {
  /* line 35, ../sass/body.scss */
  .question, .answer {
    margin-left: 8.78378%;
  }
}

/* line 44, ../sass/body.scss */
.main-content-td {
  vertical-align: top;
}

/* line 48, ../sass/body.scss */
.main-content {
  padding-top: 0.2em;
}

/* line 52, ../sass/body.scss */
.content {
  padding-top: 0.5em;
}

/* line 56, ../sass/body.scss */
.q-a-tag {
  padding-top: 1em;
}

/* line 61, ../sass/body.scss */
.comment {
  margin-top: 1em;
}
/* line 62, ../sass/body.scss */
.comment .collapsible-comment {
  display: none;
}
@media (min-width: 600px) {
  /* line 62, ../sass/body.scss */
  .comment .collapsible-comment {
    display: inline;
  }
}
/* line 69, ../sass/body.scss */
.comment .title {
  margin-bottom: 0.5em;
}
/* line 73, ../sass/body.scss */
.comment .comment-header {
  display: none;
}
@media (min-width: 600px) {
  /* line 73, ../sass/body.scss */
  .comment .comment-header {
    display: inline;
  }
}
/* line 80, ../sass/body.scss */
.comment .collapsible-table-comment {
  cursor: pointer;
}
@media (min-width: 600px) {
  /* line 80, ../sass/body.scss */
  .comment .collapsible-table-comment {
    display: none;
  }
}
/* line 89, ../sass/body.scss */
.comment .comment-content {
  font-size: 0.8em;
}
/* line 92, ../sass/body.scss */
.comment .comment-text {
  font-size: 0.8em;
  cursor: pointer;
}

/* line 98, ../sass/body.scss */
.title {
  font-weight: bold;
}

/* line 102, ../sass/body.scss */
#question-title {
  font-size: 1.3em;
}

/* line 106, ../sass/body.scss */
#answer-title {
  margin-top: 1.5em;
  font-size: 1.2em;
}

/* line 111, ../sass/body.scss */
.sort {
  float: right;
  margin-top: 1.5em;
  font-size: 1em;
}
/* line 115, ../sass/body.scss */
.sort a {
  cursor: pointer;
}
/* line 118, ../sass/body.scss */
.sort .down-arrow {
  width: 8px;
  height: 8px;
}
@media (min-width: 600px) {
  /* line 118, ../sass/body.scss */
  .sort .down-arrow {
    width: 10px;
    height: 10px;
  }
}

/* line 128, ../sass/body.scss */
.left-aside {
  vertical-align: top;
  text-align: center;
}
/* line 135, ../sass/body.scss */
.left-aside li {
  padding-bottom: 0.5em;
}

/* line 140, ../sass/body.scss */
#twitter {
  padding-top: 0.5em;
}

/* line 144, ../sass/body.scss */
.left-icons {
  font-size: 1.4em;
}

/* line 148, ../sass/body.scss */
.answer-left-aside {
  padding-top: 0.5em;
}

/* line 152, ../sass/body.scss */
.answer {
  margin-bottom: 0.5em;
}

/* line 156, ../sass/body.scss */
.comment-icon {
  color: #3c6eb4;
  font-size: 1em;
}

/* line 161, ../sass/body.scss */
.answer-textarea {
  width: 100%;
  height: 18em;
  padding: 0.5em;
  margin-top: 1em;
}

/* line 168, ../sass/body.scss */
.preview {
  font-size: 0.9em;
  padding-top: 0.5em;
}
/* line 170, ../sass/body.scss */
.preview textarea:disabled {
  opacity: 0.5;
  background: #FFFFFF;
}

/* line 177, ../sass/body.scss */
.preview-text {
  width: 100%;
  height: 2.5em;
  padding: 0.5em;
  margin-top: 0.4em;
}

/* line 184, ../sass/body.scss */
.table-checkbox {
  padding-right: 0.5em;
}

/* line 188, ../sass/body.scss */
.check:hover {
  color: #42a500;
  cursor: pointer;
}

/* line 193, ../sass/body.scss */
.follow-btn, .post-btn {
  height: 31%;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: bold;
  padding: 0.4em;
}

/* line 209, ../sass/body.scss */
.follow-btn {
  background-color: #6496DC;
  width: 100%;
  padding: 0.4em 0 0.4em 0;
}

/* line 215, ../sass/body.scss */
.votes {
  font-size: 2.2em;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
}

/* line 222, ../sass/body.scss */
.up-vote-icon {
  margin-bottom: 0em;
  padding-bottom: 0em;
}

/* line 227, ../sass/body.scss */
.up-vote-icon:hover {
  color: #42a500;
}

/* line 231, ../sass/body.scss */
.down-vote-icon {
  margin-top: 0em;
  padding-top: 0em;
}

/* line 236, ../sass/body.scss */
.down-vote-icon:hover {
  color: #d40000;
}

/* line 240, ../sass/body.scss */
.sort-down-icon {
  padding-top: 0.5em;
  font-size: 1.2em;
}

/* line 245, ../sass/body.scss */
.arrow-up {
  margin-left: auto;
  margin-right: auto;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #494949;
  margin-bottom: 0.5em;
}

/* line 257, ../sass/body.scss */
.arrow-up:hover {
  cursor: pointer;
  border-bottom: 20px solid #42a500;
}

/* line 263, ../sass/body.scss */
.arrow-down {
  width: 0;
  height: 0;
  margin-left: auto;
  margin-right: auto;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #494949;
  margin-top: 0.5em;
}

/* line 274, ../sass/body.scss */
.arrow-down:hover {
  cursor: pointer;
  border-top: 20px solid #db4437;
}
