@import "compass/reset";
@import "susy";
@import "breakpoint";

$small: 600px;
$medium: 800px;
$large: 1200px;

$fedora-blue: #3c6eb4;
$button-green: #42a500;
$border-green: #ffffff;

$badge-gold: #ffcc00;
$badge-bronze: #cc9933;
$tag-orange: #e59728;

//$dark-gray: #333333;
$dark-gray: #494949;
$gray: #666666;
$forty-gray: #999999;
$light-gray: #dedede;
$five-gray: #f2f2f2;
$two-gray: #f9f9f9;

$susy: (
  columns: 15,
  math: fluid,
  output: float,
);

@include border-box-sizing;

/////////////////////////////////////////////////

.question, .answer{
    @include breakpoint($small){
        @include pre(1);
    }
    @include breakpoint($medium){
        @include pre(1.3);
    }
}

.main-content-td{
    vertical-align: top;
}

.main-content{
    padding-top: 0.2em;
}

.content{
    padding-top: 0.5em;
}

.q-a-tag{
    padding-top: 1em;
}


.comment{
    .collapsible-comment{
        display: none;
        @include breakpoint($small){
            display: inline;
        }
    }

    .title{
        margin-bottom: 0.5em;
    }

    .comment-header{
        display: none;
        @include breakpoint($small){
            display: inline;
        }
    }

    .collapsible-table-comment{
        @include breakpoint($small){
            display: none;
        }
        cursor: pointer;
    }
    
    margin-top: 1em;
        
    .comment-content{
        font-size: 0.8em;
    }
    .comment-text{
        font-size: 0.8em;
        cursor: pointer;
    }
}

.title{
    font-weight: bold;
}

#question-title{
    font-size: 1.3em;
}

#answer-title{
    margin-top: 1.5em;
    font-size: 1.2em;
}

.sort{
    float: right;
    margin-top: 1.5em;
    font-size: 1em;
    a{
        cursor: pointer;
    }
    .down-arrow{
        width: 8px;
        height: 8px;
        @include breakpoint($small){
            width: 10px;
            height: 10px;
        }
    }
}

.left-aside{
    //padding-right:0.6em;
    //@include breakpoint($small){
        //padding-right:0.8em;
    //}
    vertical-align: top;
    text-align: center;
    li{
        padding-bottom: 0.5em;
    }
}

#twitter{
    padding-top: 0.5em;
}

.left-icons{
    font-size: 1.4em;
}

.answer-left-aside{
    padding-top: 0.5em;
}

.answer{
	margin-bottom: 0.5em;
}

.comment-icon{
    color: $fedora-blue;
    font-size: 1em;
}

.answer-textarea{
    width: 100%;
    height: 18em;
    padding: 0.5em;
    margin-top: 1em;
}

.preview{
    font-size: 0.9em;
    textarea:disabled {
        opacity: 0.5;
        background: #FFFFFF;
    }
    padding-top: 0.5em;
}

.preview-text{
    width: 100%;
    height: 2.5em; 
    padding: 0.5em;
    margin-top: 0.4em;
}

.table-checkbox{
    padding-right: 0.5em;
}

.check:hover{
    color:$button-green;
    cursor: pointer;
}

.follow-btn, .post-btn{
    
    height: 31%;
    cursor:pointer;
    //box-shadow: 0px 3px 2px -2px #666666;
    //background-color: $button-green;
    //-webkit-border-radius: 9px;
    //-moz-border-radius: 9px;
    //border-radius: 9px;
    //border: 3px solid #128c1e;
    //color: $border-green;
    font-size: 1.2em;
    font-weight: bold;
    padding: 0.4em;
}

.follow-btn{
    background-color: #6496DC;
    width: 100%;
    padding: 0.4em 0 0.4em 0;
}

.votes{
    font-size: 2.2em;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
}

.up-vote-icon{
    margin-bottom: 0em;
    padding-bottom: 0em;
}

.up-vote-icon:hover{
    color: $button-green;
}

.down-vote-icon{
    margin-top: 0em;
    padding-top: 0em;
}

.down-vote-icon:hover{
    color: #d40000;
}

.sort-down-icon{
    padding-top: 0.5em;
    font-size: 1.2em;
}

.arrow-up {
    margin-left: auto;
    margin-right: auto;
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid $dark-gray;
    margin-bottom: 0.5em;

}

.arrow-up:hover{
        cursor: pointer;
        border-bottom: 20px solid $button-green;
}


.arrow-down {
    width: 0; 
    height: 0; 
    margin-left: auto;
    margin-right: auto;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid $dark-gray;
    margin-top: 0.5em;
}

.arrow-down:hover{
        cursor: pointer;
        border-top: 20px solid #db4437;
}