@import "compass/reset";
@import "susy";
@import "breakpoint";

$extra-small: 320px;
$small: 480px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;

$susy: (
  columns: 15,
  math: fluid,
  output: float,
);

@mixin vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@include border-box-sizing;

///////////////////////////////////////////////////////////////////

html{
    height: 100%;    
    font-family: 'Open Sans', sans-serif;
}

body{
    @include container(100%);
    height: 100%;

}

.container{
        @include container(98%);
        @include breakpoint($small){
            @include container(90%);
        }
}

nav {
    .nav-container{
        @include breakpoint($small){
            @include container(90%);
        }
        background: black;
        height: 100%;
        .large-profile{
            @include span(12 at 4 of 15);
            background: yellow;
            display: none;
            @include container(100%);
            
            .large-content{
                float: right;
                background: pink;
                height: 2.5em;
                table{
                    float: right;
                }
             }
            @include breakpoint($small){
                display: inline;  
            }
        }
    }

    position:fixed;
    left:0px;
    top:0px;
    width: 100%;

    height: 2.5em;
    background: gray;
    background: -moz-linear-gradient(top, #fafafa 0%, #f0f0f0 28%, #dbdbdb 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #fafafa), color-stop(28%, #f0f0f0), color-stop(100%, #dbdbdb));
    background: -webkit-linear-gradient(top, #fafafa 0%, #f0f0f0 28%, #dbdbdb 100%);
    background: -o-linear-gradient(top, #fafafa 0%, #f0f0f0 28%, #dbdbdb 100%);
    background: -ms-linear-gradient(top, #fafafa 0%, #f0f0f0 28%, #dbdbdb 100%);
    background: linear-gradient(to bottom, #fafafa 0%, #f0f0f0 28%, #dbdbdb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#dbdbdb', GradientType=0 );
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
    color: #6F6C6A;
    display: flex;
    justify-content: space-between;
    padding: 6px;
    font-size: 1.7em;
    z-index: 1;
}

.mobile-hamburger{
    background: red;
    height: 2.5em;
    padding-left: 1%;
    @include breakpoint($small){
        display: none;
    }
    @include span(2 of 15);
}

.pop-up-hamburger{
    background: red;
    height: 2.5em;
    padding-left: 1.6%;
    @include span(3 of 15);
}

.field{
    border:none; cursor:pointer;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    @include vertical-align();
}

.field:hover {
    -moz-box-shadow:0 0 5px #999; -webkit-box-shadow:0 0 5px #999; box-shadow:0 0 5px #999
}

a{
    text-decoration: none;
}

.pop-up{
    display: none;
    background: orange;
    width: 60%;
    height: 100vh;
    color: black;
    position:fixed;
    top: 0;
    left: 0; 
    z-index:999;
    margin:0;
    -moz-box-shadow:0 0 5px #999; -webkit-box-shadow:0 0 5px #999; box-shadow:0 0 5px #999;

    .profile{
        @include container(100%);
        margin-top: 2.5em;
        background: yellow;
        padding: 1em;

        .image{
            background: maroon;
            @include span(5 of 15);
        }
        .username{
            font-size: 1.5em;
            background: pink;
            @include span(10 at 6 of 15);
            float: right;
        }
        .stat{
            font-size: 1em;
            background: gray;
            @include span(15 of 15);
        }
    }

    .menu-items{
        font-size: 1.2em;
        background: white;
        ul{
            li{
                .list-item{
                    padding: 0.6em;
                    padding-left: 1em;
                }
            }
            li:hover {
                background: #EC6603;
                color: #fff;
            }
        }
    }

    .footer-items{
        position: absolute; 
        bottom: 0;
        width: 100%;
        font-size: 1.2em;
        background: pink;
        ul{
            li{
                .list-item{
                    padding: 0.6em;
                    padding-left: 1em;
                }
            }
            li:hover {
                background: #EC6603;
                color: #fff;
            }
        }
    }

}

.logo{
    background: blue;
    height: 2.5em;
    @include span(11 at 3 of 15);
    @include breakpoint($small){
        @include span(2 of 15);
    }
}

.fedora-logo{
    background: green;
    height: 2.5em;
    padding-right: 1%;
    @include span(2 at 14 of 15);
    position: relative;
    @include breakpoint($small){
        padding-right: 0%;
        @include span(1 at 3 of 15);
    }
}

.fedora-logo-img{
    float: right;
    @include vertical-align();
    @include breakpoint($small){
        float: left;
    }
}

header {

    
    .container{
        height: 8em;
        margin-top: 2.5em;
    }
    background-color: #3c6eb4;
    background-image: url("../images/header.png");
    height: 8em;
    line-height: 8em;
    align-items: center;
    justify-content: center;     
}

.desktop-hamburger{
    display: none;
    @include vertical-align();
    @include breakpoint($small){
        display: inline;
        @include span(1 of 15);
    }
}

.search-text-div{
  @include span(12 of 15);
  @include breakpoint($small){
    @include span(11 at 2 of 15);
  }
  background: purple;
  height: 100%;
  
}

.search-text{
    width: 100%;
    @include vertical-align();
}

.search-btn-div{
  @include span(3 at 13 of 15);
  background: yellow;
  height: 100%;
  
}

.search-btn{
    width: 100%;
    @include vertical-align();
}

footer{

    .container{
        height: 100%;
        z-index:0;
    }

    height: 2.5em;
    background: gray;

    position:fixed;
    left:0px;
    bottom:0px;
    width: 100%;
}

.footer-tag{
    @include gallery(3 of 15);
}


footer{
    
    @include breakpoint($extra-small){
        background: red;
    }
    @include breakpoint($small){
        background: blue;
    }
    @include breakpoint($medium){
        background: green;
    }
    @include breakpoint($large){
        background: yellow;
    }
    @include breakpoint($extra-large){
        background: gray;
    }
}
