@import "compass/reset";
@import "susy";
@import "breakpoint";

$small: 600px;
$medium: 800px;
$large: 1200px;

$fedora-blue: #3c6eb4;
$button-green: #42a500;
$border-green: #ffffff;

$badge-gold: #ffcc00;
$badge-bronze: #cc9933;
$tag-orange: #e59728;

//$dark-gray: #333333;
$dark-gray: #494949;
$gray: #666666;
$forty-gray: #999999;
$light-gray: #dedede;
$five-gray: #f2f2f2;
$two-gray: #f9f9f9;

$susy: (
  columns: 15,
  math: fluid,
  output: float,
);

@include border-box-sizing;

/////////////////////////////////////////////////
